body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Do Hyeon", sans-serif;
}

#root {
  height: 100%;
}

.wrap {
  display: flex;
  height: 100%;
}

.left-part {
  background-color: #cbbcbc;
  display: flex;
}
.right-part {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.side-bar {
  background-color: #c9c7c7;
  width: 72px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.side-btn {
  width: 44px;
  height: 44px;
  background: #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 10px 0;
}

.side-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.side-bar-right {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.part1 {
  height: 200px;
  background-color: #d3d3d3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.menu-btn {
  width: 130px;
  height: 70px;
  background-color: #c0c0c0;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  transition: all 100ms ease-out;
  cursor: pointer;
  font-size: 20px;
}
.menu-btn img {
  transform: scale(0.7);
}
.menu-btn:hover {
  transform: scale(1.05);
}
.btn-text {
  text-align: center;
}

.part2 {
  height: 100%;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-box {
  flex: 12;
  width: 280px;
  background: #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 10px;
}
.chat-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 1.2rem;
  width: 90%;
}
.user-msg {
  overflow-wrap: break-word;
}

.msg-box {
  flex: 0.7;
  width: 280px;
  background: #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-form {
  width: 100%;
  text-align: center;
  height: 100%;
}
.msg-input-box {
  display: inline-block;
  width: 90%;
  height: 100%;
  font-size: 16px;
  background: inherit;
  border: none;
  outline: none;
}

.part3 {
  height: 200px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-camera {
  width: 194px;
  height: 141px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  margin: 0 10px;
  /*나중엔 필요없으니 지우기 */
  text-align: center;
  line-height: 141px;
}

.user-camera:hover {
  opacity: 0.7;
  cursor: pointer;
}

.user-camera-zoom-btn {
  width: 44px;
  height: 44px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;
  line-height: 56px;
  margin-bottom: 70px;
  margin-left: 20px;
}

.user-camera-zoom-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.zoomed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(5);
}
.part4 {
  height: 100%;
  background-color: #d0d0d0;
}
